{% extends "base.html" %}
{% block main %}
		<form class="form-signin" action="" method="post">
	        <h2 class="form-signin-heading">Carer Login</h2>
	        {% if noUserFound %}
			<p class="alert alert-error">No user found</p>
			{% endif %}

	        <input type="text" class="input-block-level" placeholder="Email address" name="email" value="{{email}}">
	        <input type="password" class="input-block-level" placeholder="Password" name="password">
	        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

{% endblock %}
