<html>

<head>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}lib/jPlayer/jquery.jplayer.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		$("#jquery_jplayer_1").jPlayer({
			ready: function () {
			 $(this).jPlayer("setMedia", {
			  mp3: "{{ STATIC_URL }}music/02 To The Sea.mp3"
			 });
			},
			swfPath: "/js",
			supplied: "mp3"
		});
	});
	</script>

</head>

<body>

<div id="jquery_jplayer_1"></div>
<div id="jp_container_1">
 <a href="#" class="jp-play">Play</a>
 <a href="#" class="jp-pause">Pause</a>
</div>

</body>

</html>
