{% extends "base.html" %}
{% block main %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="user-container">
          <div class="row">
            <div class="span">
              {% for user in users %}
							<form action="" method="post">
								<input type="hidden" name="id" value="{{user.id}}"/>
								<input type="image" src="{{user.image}}" alt="Image"/>
							</form>
              {% endfor %}              
            </div>
          </div>
        </div>

<a href="{% url login_carer %}">Carer Log In</a>
{% endblock %}

